
body{
}

.info{
    font-size: 25px;
    color: #7d92ff;
}

.failure{
    color: red;

}
.header{
    font-size: 50px;
    color: #7d92ff;
}
.output{
    font-size: 75px;
    color: aquamarine;
    letter-spacing: 10px;
}
